<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>CodePen - Owl Carousel 2 Equal Heights (css only)</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='../Bootstrap/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.theme.default.min.css'>
  <link rel='stylesheet' href='https://rawgit.com/bryanwillis/a3d4935336174c9d9deb58dff040207d/raw/d06b38aa36e868bc70d022293f4c3bd8600b50a3/flexbox-bs3.css'>
  <link rel="stylesheet" href="../dist/style.css">
</head>

<body>
	<div class="container" style="padding: 0px; margin: 0px; width: 100%">
		<div class="row" style="max-width: 100%;">
			<div class="col-sm-1">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-11">
				<div class="latest-blog-posts bg-white pt60 pb60">
					<div class="container-fluid" style="padding: 0px; margin: 0px; min-width: 100%">
						<div id="owl-demo-2" class="owl-carousel owl-theme" style="padding: 0px; margin: 0px; min-width: 100%; min-height: 100vh;">
							<article class="thumbnail item" style="padding: 0px; margin: 0px; min-height: 100vh;" itemscope="" itemtype="http://schema.org/CreativeWork">
								<div class="col-sm-4" style="min-width: 100%;">
									<div class="d-flex justify-content-center" style="padding: 0px; margin: 0px; min-width: 100%;">
										<div id="picker" class="disable-owl-swipe d-flex"></div>
									</div>
								</div>
								<div class="caption">
									<h4 itemprop="headline">
										<a href="#" rel="bookmark">5 Ways Baby Boomers Are Changing Healthcare</a>
									</h4>
									<p itemprop="text" class="flex-text text-muted">5 ways baby boomers are changing healthcare Starting in 2011, 3 million baby boomers each year reach retirement age....</p>
									<p><a class="btn btn-primary btn-block">Button Text</a></p>
								</div>
							</article>
							<article class="thumbnail item" style="padding: 0px; margin: 0px; min-height: 100vh" itemscope="" itemtype="http://schema.org/CreativeWork">
								<a class="blog-thumb-img" href="/5-ways-baby-boomers-changing-healthcare/" title="">
									<img src="http://placehold.it/500x300/4DC7A0/ffffff" class="img-responsive" />
								</a>
								<div class="caption">
									<h4 itemprop="headline">
										<a href="#" rel="bookmark">5 Ways Baby Boomers Are Changing Healthcare</a>
									</h4>
									<p itemprop="text" class="flex-text text-muted">5 ways baby boomers are changing healthcare Starting in 2011, 3 million baby boomers each year reach retirement age....</p>
									<p>							<a href="#" class="btn btn-primary btn-block">Button Text</a></p>
								</div>
							</article>
							<article class="thumbnail item" style="padding: 0px; margin: 0px; min-height: 100vh" itemscope="" itemtype="http://schema.org/CreativeWork">
								<a class="blog-thumb-img" href="/5-ways-baby-boomers-changing-healthcare/" title="">
									<img src="http://placehold.it/500x300/4DC7A0/ffffff" class="img-responsive" />
								</a>
								<div class="caption">
									<h4 itemprop="headline">
										<a href="#" rel="bookmark">5 Ways Baby Boomers Are Changing Healthcare</a>
									</h4>
									<p itemprop="text" class="flex-text text-muted">5 ways baby boomers are changing healthcare Starting in 2011, 3 million baby boomers each year reach retirement age....</p>
									<a href="#" class="btn btn-primary btn-block">Button Text</a>
								</div>
							</article>
							<article class="thumbnail item" style="padding: 0px; margin: 0px; min-height: 100vh" itemscope="" itemtype="http://schema.org/CreativeWork">
								<a class="blog-thumb-img" href="/5-ways-baby-boomers-changing-healthcare/" title="">
									<img src="http://placehold.it/500x300/4DC7A0/ffffff" class="img-responsive" />
								</a>
								<div class="caption">
									<h4 itemprop="headline">
										<a href="#" rel="bookmark">5 Ways Baby Boomers Are Changing Healthcare</a>
									</h4>
									<p itemprop="text" class="flex-text text-muted">5 ways baby boomers are changing healthcare Starting in 2011, 3 million baby boomers each year reach retirement age....</p>
									<a href="#" class="btn btn-primary btn-block">Button Text</a>
								</div>
							</article>
							<article class="thumbnail item" style="padding: 0px; margin: 0px; min-height: 100vh" itemscope="" itemtype="http://schema.org/CreativeWork">
								<a class="blog-thumb-img" href="/5-ways-baby-boomers-changing-healthcare/" title="">
									<img src="http://placehold.it/500x300/4DC7A0/ffffff" class="img-responsive" />
								</a>
								<div class="caption">
									<h4 itemprop="headline">
										<a href="#" rel="bookmark">5 Ways Baby Boomers Are Changing Healthcare</a>
									</h4>
									<p itemprop="text" class="flex-text text-muted">5 ways baby boomers are changing healthcare Starting in 2011, 3 million baby boomers each year reach retirement age....</p>
									<a href="#" class="btn btn-primary btn-block">Button Text</a>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
  <script type="text/javascript" src="../ColorPicker/iro.js"></script>
  <script src='https://cdn.jsdelivr.net/g/jquery@2.1.4,jquery.migrate@1.4.1,bootstrap@3.3.7,jquery.matchheight@0.7.0'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/owl.carousel.min.js'></script>
  <script  src="../dist/script.js"></script>
  <script>
	var colorPicker = new iro.ColorPicker("#picker", {
		// Set the size of the color picker
		width: 320,
		// Set the initial color to pure red
		color: "#00ff00"
	});
  </script>
  <script>
	  $(".disable-owl-swipe").on("touchstart mousedown", function(e) {
		  // Prevent carousel swipe
		  e.stopPropagation();
	  })
  </script>
teste
</body>
</html>
